body{
    max-width: 1000px;
    margin: auto;
    
}
header{
    background-color: blueviolet;
    color: white;
}
.cabecalho{
    font-size: 25px;
    text-align: center;
}
.menu ul {
    display: flex;
    list-style: none;
    cursor: pointer;
}
.menu li{
    flex: 1;
    transition: all 0.5s;
    text-align: center;
    font-size: 15px;
}
.menu li:hover{
    background-color: white;
    color: blueviolet;
    
}
section{
    display: flex;
    height: 400px;
    
    color: blueviolet;
    background-image: url('fundo.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
align-items: center;
}
.logo{
    padding: 20px;

}
.apresentacao{
    text-align: center;
    padding: 20px;
    font-size: 25px;
}